* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout af tekstboks på forside */
.center {
  text-align: center;
  max-width: 70%;
  margin: 0 auto; /* Centers the text block horizontally on the page */
  padding: 50px;
}
/* Styling af klikbare kasser på forsiden */
.project_grid {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* plads imellem kasserne */
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.project-box-f:hover {
  transform: scale(1.02); /* zoom-in effect */
}
.projects h2 {
  text-align: center;
}

/* tema 2 layout */
.marg {
  max-width: 80%;
  margin: 0 auto; /* Centers the text block horizontally on the page */
  padding: 50px;
  /* tilføjer en transition effekt på alt der ændres (all - margin, padding), på 0.3 sekunder, med langsom, accelerere i midten, og langsom til slut. */
  transition: all 0.3s ease; /* Smooth transition for margin and size adjustments */
}

/* .grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 5rem;
} */
/* 
.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
} */

/* .brown_box {
  position: relative;
  top: -40%;
  left: 50%;
} */
.brown_box {
  display: flex;
  justify-content: end;
  padding-right: 12rem;
}

@media (min-width: 800px) {
  .center {
    text-align: center;
    max-width: 55%;
    margin: 0 auto; /* Centers the text block horizontally on the page */
    padding: 60px;
  }

  .marg {
    max-width: 50%;
  }
  /* margin på listepunkt */
  /* ul {
    margin-left: 30px;
  } */
}
