* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout af tekstboks på forside */
.center {
  text-align: center;
  max-width: 70%;
  margin: 0 auto; /* Centers the text block horizontally on the page */
  padding: 50px;
}
/* Styling af klikbare kasser på forsiden */
.project_grid {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* plads imellem kasserne */
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}
.project-box-f:hover {
  transform: scale(1.02); /* zoom-in effect */
}
.projects h2 {
  text-align: center;
}
/* zoom effekt */
.zoom:hover {
  transform: scale(1.01); /* zoom-in effect */
}

/* tema 2 layout */
.marg {
  max-width: 80%;
  margin: 0 auto; /* Centers the text block horizontally on the page */
  padding: 50px;
  /* tilføjer en transition effekt på alt der ændres (all - margin, padding), på 0.3 sekunder, med langsom, accelerere i midten, og langsom til slut. */
  transition: all 0.3s ease; /* Smooth transition for margin and size adjustments */
}

/* .grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 5rem;
} */
/* 
.grid_2-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
} */

/* .brown_box {
  position: relative;
  top: -40%;
  left: 50%;
} */
.brown_box {
  display: flex;
  justify-content: end;
  padding-right: 12rem;
}
/* TEMA 3 */
/* margin på listepunkt */
ul {
  margin-left: 15px;
}
.grid_1-1-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* Lottie animationer */
.container {
  display: grid;
  place-items: center;
  max-width: 100%;
  margin-top: 3rem;
}

/* Så teksten under lottie og billede ikke overlapper */
.wrapper {
  display: block;
  overflow: hidden; /* Prevents text from spilling into the animation container */
  margin-top: -55px;
}

/* Baggrundsbilledet på forside(med lottie) */
.forside_img {
  grid-area: 1 / 1; /* Placerer animationen i samme grid celle */
  width: 100%;
  height: auto;
}

/* Lottie filen */
.lottie {
  grid-area: 1 / 1; /* Placerer animationen i samme grid celle */
  width: 100%;
  z-index: 2; /* bliver placeret ovenpå billedet */
}

.lottie_1 {
  padding-top: 1rem;
}

/* CV GRID */
.bold {
  font-weight: bold;
}
.parent {
  text-align: center;
}

.middle {
  text-align: center;
}

.pad-top {
  padding-top: 3rem;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr;
}
/* Styling af det første barn i sæt af 3 */
.grid_1-1-1 > p:nth-child(3n + 1) {
  padding-top: 1rem;
}
.bg_img {
  background-image: url(../billeder/om_mig/Group\ 93.webp);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}

.grid_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 3rem;
  gap: 10px;
}
.mig {
  grid-column: 2 / span 1;
}

.bla {
  grid-column: 3 / span 1;
  margin-top: 70%;
}

.usynlig {
  color: var(--mocca);
}

@media (min-width: 800px) {
  .center {
    text-align: center;
    max-width: 55%;
    margin: 0 auto; /* Centers the text block horizontally on the page */
    padding: 60px;
  }

  .marg {
    max-width: 50%;
  }

  /* TEMA 3 */
  /* margin på listepunkt */
  ul {
    margin-left: 30px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Layout af cv grid */
  /* Centrering af grid parent */
  .parent {
    display: flex;
    /* Centrerer grid horisontalt */
    justify-content: center;
    /* centrer grid vertikalt */
    align-items: center;
  }

  /* Styling af grid */
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* automatisk størrelse af grid rækker baseret på det indhold der er med */
    gap: 10px;
    width: 100%;
    /* bredden af grid */
    max-width: 1000px;
    text-align: left; /* Default text alignment for all grid items */
  }

  /* Specifik styling af kolonerne */
  /* n er en variabel, der repræsenterer en række tal (0, 1, 2, 3 osv.). */
  .grid_1-1-1 > p:nth-child(3n + 1) {
    /* bold tekst i den første kolonne (3n+1 er rettet mod det første "barn" i hvert sæt af 3 - kolonne 1)*/
    font-weight: bold; /* Bold text for the first column */
    padding-top: 0;
  }

  /* Styling af det andet "barn" i hvert sæt af 3 (kolonne 2)*/
  .grid_1-1-1 > p:nth-child(3n + 2) {
    text-align: center;
  }

  /* Styling af det tredje barn, i hvert sæt af 3 (tredje kolonne) */
  .grid_1-1-1 > p:nth-child(3n) {
    text-align: right; /* Right-aligned for the last column */
  }

  .grid_3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10%;
    gap: 10px;
  }

  .bla {
    margin-top: 60%;
  }
}
