* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Farve variabler */
html {
  --cream: #fffdf0;
  --red: #a6282f;
  --sage: #cdc69a;
  --mocca: #ccc8ba;
  --brown: #290305;
  scroll-behavior: smooth;
}

body {
  background-color: var(--mocca);
}

/* Tekst */
h1 {
  font-family: "Brygada 1918", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--red);
  font-size: 17.5vw;
  text-align: center;
}

h2 {
  font-family: "Bricolage Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
  color: var(--red);
  font-size: clamp(20px, 5vw, 40px);
  padding-bottom: 1rem;
}

h3 {
  font-family: "Bricolage Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-transform: uppercase;
  color: var(--red);
}

p,
ul {
  font-family: "Bricolage Grotesque", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--brown);
  /* 10px er minimun. Fonten bliver ikke mindre end 10px. 2vw gør tekststørrelsen responsiv, dvs størrelsen fylder 2% af skærmen. Det maksimale er 17px. */
  font-size: clamp(10px, 2vw, 17px);
  line-height: 200%;
}

/* Ændring af farve i footer*/
.cream_t {
  color: var(--cream);
}
.red_b {
  background-color: var(--red);
}
.sage_t {
  color: var(--sage);
}
.brown_b {
  background-color: var(--brown);
}
.sage_b {
  background-color: var(--sage);
}
.red_t {
  color: var(--red);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.marg p {
  padding-top: 7px;
}

.marg h3 {
  padding-top: 15px;
}
